@use 'variables' as v;


@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}


@mixin grid($columns, $space) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $space;
}

@mixin resetear-lista{
    margin: 0;
    padding:0;
    list-style: none;
}