//Fonts
$font-poppins: 'Poppins', sans-serif;
$font-roboto: 'Roboto', sans-serif;

//Colors
$white: #FFFFFF;
$black: #343434;
$orange: #E0752F;
$grey1: #5F6368;
$grey2: #BEBEBE;
$grey3: #E3E3E3;
$grey4: #DCE1DA;
$grey5: #F2F4F1;
$grey6: #F8F8F8;
$grey7: #FFFF00;
$red: #ff0000;
$green: #008000;

//Media Queries
$tablet: 860px;
